.sign-up-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    color: #ffffff;
}

.sign-up-form{
    display: flex;
    flex-direction: column;
    width: 255px;
}

input[type='text']{
    margin: 0 0 10px 0;
}

.sign-up-error-message{
    color: darkred;
}